body {
	background-image: url(../img/background5.png);
	background-repeat: repeat;
}

header, footer, h1, h2, h3, h4, h5, h6 {
	font-family: 'Krona One', Georgia, serif;
	color: #A863A8;
	font-size: .75em;
}

p {
  background-color: #FFF;
  padding: .5em;
	font-family: 'Raleway', Helvetica, sans-serif;
	font-size: 1em;
	font-weight: 300;
	height: 9em;
}

a:link, a:visited {
	color: #50ADBC;
}
a:hover, a:active, a:focus {
	color: #8DBD1E;
}

.menu .menu-text {
	font-weight: normal;
}
