body {
	background-image: url(../img/bg.png);
	background-repeat: repeat;
}

header, footer {
	font-family: 'Krona One', Georgia, serif;
	color: #A863A8;
	font-size: .75em;
}

header {
	padding-top: 1em;
	padding-bottom: 1em;
}

footer {
	padding-top: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Krona One', Georgia, serif;
	color: #A863A8;
	font-size: 1em;
	padding-bottom: .5em;
}

h1 {
	text-align: center;
	font-size: 1.5em;
	padding-bottom: 2em;
	color: #24656F;
}

h4 {
	padding-top: 2.5em;
}

p {
  background-color: rgba(265,265,265,0.5);
  padding: .5em .5em .5em .5em;
	font-family: 'Exo 2', Helvetica, sans-serif;
	font-size: 1em;
	font-weight: 300;
	margin-top: 1em;
	max-width: 858px;
}

a:link, a:visited {
	color: #24656F;
}
a:hover, a:active, a:focus {
	color: #FFBDFF;
}

.button, .menu a {
  	line-height: 1;
    text-decoration: none;
    display: block;
    padding: .25rem .75rem;
		font-weight: normal;
}

.top-bar, .top-bar ul {
    background-color: rgba(0,0,0,0.0);
}

.menu-text {
	font-size: .5em;
}

#content, .sticky {
	padding-top: 2em;
}

.orbit {
	padding-top: 1.5em;
	padding-bottom: 0em;
}

.article {
	overflow: auto;
}

.thumbnail, .orbit-slide {
	border: solid 4px rgba(265,265,265,0.5);
  border-radius: 0;
}

.grid-x {
	padding-top: 2.0rem;
}

.projects {
	font-family: 'Krona One', Georgia, serif;
	color: #A863A8;
	font-size: .85em;
	line-height: 2em;
	list-style: none;
}

.arrow {
	padding-bottom: 2.0rem;
	max-width: 200px;
}
